<script>
    var input = null;
    var link = null
    window.addEventListener("DOMContentLoaded", (event) => {
      console.log("dsd")
        input  = document.getElementById('search');
        link = document.getElementById('search_button');

        input.addEventListener('keyup', function() {
            link.href = "/main?search=" + this.value;
        });
    });


</script>
<div class="container-fluid bg-dark text-light" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="row">
            <div class="col-12 col-md-3 d-flex justify-content-center align-items-center p-3">

               <h3> <a th:href="@{/}" class="ms-3 my-0">Книги.com</a> </h3>

            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center p-3">
                <form class="w-60">
                    <div class="input-group">
                        <input id="search" type="text" class="form-control" placeholder="Search...">
                        <a id="search_button" class="btn btn-primary" type="submit">Поиск</a>
                    </div>
                </form>
            </div>
            <div th:unless="${logged_in}" class="col-12 col-md-3 d-flex justify-content-center align-items-center p-3">
                <a  th:href="@{/login}" class="btn btn-danger m-2">Вход</a>
                <a th:href="@{/register}" class="btn btn-danger">Регистрация</a>
            </div>
            <div th:if="${logged_in}" class="col-12 col-md-3 d-flex justify-content-center align-items-center p-3">
                <img th:src="${user.pfp}" class="pic rounded-circle" alt="Cinque Terre" width="50" height="50">
                <button th:if="${logged_in} == true" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success m-2">Загрузить книгу</button>
                <a  th:href="@{/settings}" id="username" th:text="${user.username}" class="btn btn-primary m-2"></a>
                <a th:href="@{/logout}" class="btn btn-danger">Выйти</a>
            </div>
        </div>
    </div>
    <style>
        .pic{
            object-fit: cover;
        }
    </style>
