<div class="container-fluid" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-12 col-md-2 bg-light mt-3 position-relative sidebar d-flex flex-column">
      <div class="list-group scrollable-list">
        <a th:each="genre: ${genres}" th:href="@{'/main?genre='+${genre.id}}" class="list-group-item list-group-item-action" th:classappend="(${genre.id} eq ${selected_genre}) ? active"  th:text="${genre.name}" aria-current="true"></a>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div th:each="book : ${books}" class="row">
        <div class="col-12  my-3">
          <div class="card">
            <div class="card-body">
              <a th:href="@{'book/'+${book.id}}"><h5 class="card-title" th:text="${book.name}"></h5></a>
              <p class="card-text" th:text="${book.description}"></p>
              <p class="card-text" th:text="${book.author}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    .sidebar{
      height:90vh;
      max-height: 90vh;
    }
    .scrollable-list {
        max-height: 85%;
        overflow-y: auto;
    }

</style>