<script>
    var pageNumber = 0
    var pages = {0:""}
    window.addEventListener("DOMContentLoaded", (event) => {
      var el = document.getElementById("content").getElementsByTagName("p")
      var i = 0
      var j = 0
      for (var i = 0; i < el.length; i++) {
      if (pages[j].split(" ").length + el[i].innerHTML.split(" ").length > 250) {
          j++;
          pages[j]=""
          continue
        }
        if(i == 0){
          document.getElementById("c_title").innerHTML = el[i].innerHTML
        }
        else{
          pages[j] += `<p>${el[i].innerHTML}</p>`
        }

      }
      document.getElementById("prev").style.opacity = 0;
      const keys = Object.keys(pages);
      if(keys.length == 1)
              document.getElementById("next").style.opacity = 0;
      document.getElementById("content").innerHTML = pages[0]
      document.getElementById("content").style.display = "block"

    });
    function n(e){
      const keys = Object.keys(pages);
      if(pageNumber+1 < keys.length) {
        console.log("Dsad")
        document.getElementById("content").innerHTML = pages[++pageNumber]
        document.getElementById("prev").style.opacity = 100;
        if(pageNumber == keys.length-1){
          e.style.opacity = 0;
        }
      }
    }
    function p(e){
    const keys = Object.keys(pages);
      if(pageNumber-1 >= 0) {
        document.getElementById("content").innerHTML = pages[--pageNumber]
        document.getElementById("next").style.opacity = 100;
        if(pageNumber == 0){
          e.style.opacity = 0;
        }
      }
    }
  </script>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-12 text-center">
      <h2 th:utext="${book.name}"></h2>
      <h4 id="c_title" th:text="${chapter.title}"></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <button onclick="p(this)" id="prev" class="btn btn-secondary align-self-center m-4 h-25 pagebt">←</button>
        <div style="display: none" id="content"  th:utext="${chapter.content}"></div>
        <button onclick="n(this)" id="next"  class="btn btn-secondary align-self-center m-3 h-25 pagebt">→</button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 text-center">
      <a th:if="${p_link}" th:href="${p_link}" class="btn btn-primary">Преведущая глава</a>
    </div>
    <div class="col-6 text-center">
      <a th:if="${n_link}" th:href="${n_link}" class="btn btn-primary">Следующая глава</a>
    </div>
  </div>
</div>

<style>
  .pagebt {
    height: 50px;
    width: 3000px;
    max-width: 100px;
  }
  #content{
    max-width: 750px;
    min-height: 700px;
  }
</style>